
body {
	background-color: var(--white);
}


/* colors */

.color-green { color: var(--green); }

.color-red { color: var(--red); }

.color-blue { color: var(--blue); }

.color-black { color: var(--black); }

.color-grey { color: var(--lightgrey3); }

/* the-end-of-colors */



/* margins */

.mt-1 { margin-top: 1.2rem !important; }

.mt-5px { margin-top: 5px !important; }

/* the-end-of-margins */



/* titles */

.page-first-title {
	font-size: 10px;
	text-align: center;
	margin: 0  auto 1rem;
}

.page-first-title span {
	position: relative;
}

.page-first-title span::before,
.page-first-title span::after {
	content: " ";
	position: absolute;
	top: calc(50% - .5px);
	left: -50px;
	height: 1px;
	width: 30px;
	background-color: var(--blue);
}

.page-first-title span::after {
	left: initial;
	right: -50px;
}

.page-second-title {
	margin-top: 0;
	text-align: center;
}

@media (min-width: 768px) {

	.page-first-title {
		font-size: 16px;
	}	

	.page-first-title span::before,
	.page-first-title span::after {
		left: -60px;
		width: 40px;
	}

	.page-first-title span::after {
		left: initial;
		right: -60px;
	}

}

/* the-end-of-titles */	



/* lists */

.page-list {
	width: 80%;
	margin: auto;
}

@media (min-width: 768px) {

	.page-list {
		width: 73%;
	}

}	

/* the-end-of-lists */



/* buttons */

.red-btn {
	background-color: var(--red);
	padding: 1rem 2.5rem;
	color: var(--white) !important;
	position: relative;
	border-radius: 2.5rem;
	overflow: hidden;
}

.red-btn span {
	position: relative;
	z-index: 2;
}

.red-btn::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 2.5rem;
	width: 0;
	height: 100%;
	background-color: var(--blue);
	transition: width .5s;
}

.red-btn:hover::before {
	width: 100%;
}

.red-square-btn {
	background-color: var(--red);
	padding: 0;
	color: var(--white) !important;
	border-radius: 5px;
	height: 40px;
	line-height: 40px;
	width: 130px;
	text-align: center;
	transition: background-color .3s;
}

.red-square-btn:hover {
	background-color: var(--blue);
}

.white-btn {
	background-color: #ffffff;
	padding: 1rem 2.5rem;
	color: var(--black);
	border-radius: 2.5rem;
	overflow: hidden;
	font-size: 14px;
	border: 1px solid #d6e1eb;
	transition: border-color .3s, color .3s, background-color .3s;
}

.white-btn:hover {
	background-color: var(--red);
	border-color: var(--red);
	color: var(--white);
}

.blue-rounded-btn {
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: var(--blue);
	text-align: center;
	color: white;
	border-radius: 50%;
}

/* the-end-of-buttons */



/* icons */

.red-rounded-icon {
	width: 40px;
	height: 40px;
	line-height: 40px !important;
	background-color: var(--red);
	text-align: center;
	color: white;
	border-radius: 50%;
}

.blue-icon {
	color: var(--blue);
	margin-right: 5px;
}

/* the-end-of-icons */



/* slider-dots */

.slider-square-dots .flash-slider-dot {
	border-radius: 0;
	width: 28px;
	height: 3px;
	background-color: var(--lightgrey3) !important;
	padding: 0 !important;
	border: 0 !important;
}

.slider-square-dots .flash-slider-dot.flash-active {
	background-color: var(--blue) !important;
}

/* the-end-of-slider-dots */



/* texts */

.yellow-text-box {
	color: var(--black);
	background-color: var(--yellow);
	border-radius: 1.2rem;
	padding: .5rem 1.1rem;
	font-size: 12px;
	font-weight: bold;
}

/* the-end-of-texts */

/* links */

.red-link {
	color: var(--red) !important;
}

.black-link {
	color: var(--black);
	transition: color .3s;
}

.black-link:hover {
	color: var(--red);
}

/* the-end-of-links */



/* informations */

.informations {
	margin-top: 60px;
}

.informations-list {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-flow: row wrap;
}

.informations-item {
	width: 100%;
	text-align: center;
	margin-top: 3rem;
}

.informations-icon {
	text-align: center;
	width: 100%;
	margin: 0;
	font-size: 60px !important;
}

.informations-title {
	font-weight: bold;
	color: var(--black);
	margin: 2rem 0 0;
	font-size: 22px;
}

.informations-text {
	color: var(--black);
	margin: 2rem 0 0;
	line-height: 27px;
}

.informations-read-more {
	margin: 2rem 0 0;
}

@media (min-width: 576px) {

	.informations-item {
		width: 40%;
	}

	.informations-item:first-child {
		margin-right: 20%;
	}

}

@media (min-width: 992px) {
	
	.informations-list {
		width: 68%;
	}

	.informations-item {
		width: 25%;
	}

	.informations-item:first-child,
	.informations-item:nth-child(2) {
		margin-right: 12.5%;
	}

}

/* the-end-of-informations */



/* popular-cities */ 

.popular-cities {
	margin-top: calc(60px + 6vw);
}

.popular-cities-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	flex-flow: row wrap;
}

.popular-cities-item {
	margin-top: 2rem;
	position: relative;
	width: 47%; 
	height: 43vw;
}

.popular-cities-item:first-child,
.popular-cities-item:last-child {
	width: 100%;
}

.popular-cities-link {
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: .7rem;
	position: relative;
}

.popular-cities-link::before {
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(26,27,27,0.3);
}

.popular-cities-link::after {
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(45deg, #f44153 20%, #4da1f4 80%);
	opacity: 0;
	transition: opacity .5s;
}

.popular-cities-link:hover::after {
	opacity: .8;
}

.popular-cities-img {
	width: 100%;
	height: auto;
	min-height: 100%;
	display: block;
}

.popular-cities-length {
	position: absolute;
	color: white;
	top: 1rem;
	right: 1rem;
	font-weight: bold;
	margin: 0;
	z-index: 2;
	opacity: 0;
	transition: opacity .5s;
}

.popular-cities-link:hover .popular-cities-length {
	opacity: 1;
}

.popular-cities-text {
	position: absolute;
	bottom: 2.5rem;
	right: 1rem;
	left: 1rem;
	text-align: center;
	z-index: 2;
}

.popular-cities-city {
	font-weight: bold;
	font-size: 20px;
	color: var(--white);
	margin: 0;
}

.popular-cities-country {
	color: #d6e1eb;
	margin: 0;
}

@media (min-width: 768px) {

	.popular-cities-item {
		width: 17vw; 
		height: 19vw;
	}

	.popular-cities-item:first-child,
	.popular-cities-item:last-child {
		width: 34vw;
	}

}

@media (min-width: 992px) {

	.popular-cities-length {
		top: 3rem;
		right: 2rem;
	}

	.popular-cities-text {
		bottom: 3rem;
	}

	.popular-cities-city {
		font-size: 30px;
	}

}

/* the-end-of-popular-cities */ 



/* travel-guides */

.travel-guides {
	margin-top: calc(40px + 6vw);
}

.travel-guides-list {
	margin-top: -3rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}

.travel-guides-item {
	width: 100%;
	margin-top: 3rem;
}

.travel-guides-link {
	margin: 2rem 0 0;
}

.travel-guides-link.red-link {
	margin-right: 2rem;
	position: relative;
}

.travel-guides-link.red-link::after {
	content: " ";
	position: absolute;
	top: 15%;
	right: calc(-1rem - .3px);
	width: .6px;
	height: 70%;
	background-color: var(--black);
}

.travel-guides-img-container {
	width: 100%;
	height: 70vw;
	overflow: hidden;
	border-radius: .8rem;
}

.travel-guides-img {
	width: 100%;
	height: auto;
	min-height: 100%;
	display: block;
}

.travel-guides-title {
	font-weight: bold;
	margin: .5rem 0 0;
	font-size: 22px;
	display: block;
}

.travel-guides-text {
	color: var(--black);
	margin: .5rem 0 0;
}

@media (min-width: 768px) {
	
	.travel-guides-item {
		width: calc((100% - 2rem) / 2);
	}

	.travel-guides-item:not(:last-child, :nth-child(2)) {
		margin-right: 2rem;
	}

	.travel-guides-img-container {
		height: 29vw;
	}

}

@media (min-width: 992px) {
	
	.travel-guides-item {
		width: calc((100% - 4rem) / 3);
	}

	.travel-guides-item:not(:last-child) {
		margin-right: 2rem;
	}

	.travel-guides-img-container {
		height: 19vw;
	}	

}

/* the-end-of-travel-guides */



/* featured-listings */

.featured-listings {
	background-color: var(--lightgrey2);
	padding: 120px .6rem 0;
	margin-top: calc(60px + 6vw);
}

.featured-listings-slider {
	overflow: hidden;
	padding: 1.2rem .6rem 250px; 
}

.featured-listings-slider .flash-slider-slide {
	overflow: visible;
}

.featured-listings-slider .flash-slider-list {
	overflow: visible;
}

.featured-listings-slide {
	transition: box-shadow .5s, border-color .5s;
	border: 1px solid var(--lightgrey3);
	border-radius: .8rem;
	position: relative;
}

.featured-listings-slide:hover {
	border-color: transparent;
	box-shadow: .5px .5px 10px #e5e8ea, -.5px -.5px 10px #e5e8ea;
}

.featured-listings-img-container {
	width: 100%;
	height: 60vw;
	overflow: hidden;
	position: relative;
	border-radius: .8rem;
}

.featured-listings-img-container::before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity .5s;
	background-color: rgba(26,27,27,0.6);
}

.featured-listings-slide:hover .featured-listings-img-container::before {
	opacity: 1;
}

.featured-listings-img {
	width: 100%;
	height: auto;
	min-height: 100%;
	display: block;
}

.featured-listings-read-more {
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 65px);
	z-index: 2;
	opacity: 0;
	transition: opacity .5s;
}

.featured-listings-slide:hover .featured-listings-read-more  {
	opacity: 1;
}

.featured-listings-like,
.featured-listings-icon {
	position: absolute;
	bottom: 1.5rem;
	right: calc(2.1rem + 40px);
	z-index: 2;

}

.featured-listings-icon {
	right: 1.5rem;
}

.featured-listings-featured {
	position: absolute;
	top: 55vw;
	left: 1.5rem;
}

.featured-listings-title {
	margin: 2.5rem 0 0;
	padding-left: 1.8rem;
	font-weight: bold;
	font-size: 22px;
}

.featured-listings-text {
	margin: 0;
	color: var(--black);
	padding-left: 1.8rem;
}

.featured-listings-bottom-list {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	border-top: 1px solid var(--lightgrey3);
	margin-top: 3rem;
}

.featured-listings-bottom-item {
	text-align: center;
	height: 80px;
	line-height: 80px;
}

.featured-listings-bottom-item:first-child {
	width: 45%;
	border-right: 1px solid var(--lightgrey3);
	line-height: 20px;
	padding-top: 20px;
	position: relative;
}

.featured-listings-bottom-item:first-child span:last-child {
	font-size: 12px;
	color: grey;
}

.featured-listings-bottom-item:first-child::before {
	content: "\f005";
	position: absolute;
	top: 20px;
	left: 1rem;
	font-family: fontAwesome;
	height: 100%;
	color: var(--blue);
}

.featured-listings-bottom-item:nth-child(2) {
	width: 20%;
	border-right: 1px solid var(--lightgrey3);
}

.featured-listings-bottom-item:last-child {
	width: 35%;
}

.featured-listings .flash-slider-dot-list {
	bottom: 170px;
}

@media (max-width: 350px) {


	.featured-listings-bottom-item:first-child::before {
		left: 5px;
	}

}
@media (min-width: 576px) {

	.featured-listings-img-container {
		height: 45vw;
	}
	.featured-listings-featured {
		top: 42vw;
	}

}

@media (min-width: 768px) {
	
}

@media (min-width: 992px) {
	
	.featured-listings-img-container {
		height: 17vw;
	}

	.featured-listings-featured {
		top: 15.8vw;
	}

}

/* the-end-of-featured-listings */



/* download-app */

.download-app {
	background-color: var(--red);
	margin-top: 0;
	padding: 120px 1rem; 
	position: relative;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.download-app-bg-img {
	height: 100%;
	width: auto;
	min-width: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.download-app::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(26,27,27,0.5);
	z-index: 1;
}

.download-app-title {
	color: white;
	margin: 0;
	position: relative;
	z-index: 2;
}

.download-app-text {
	margin: 1.5rem 0 0;
	color: white;
	font-size: 12px;
	position: relative;
	z-index: 2;
}

.download-app-link {
	margin: 2.5rem 0 0;
    height: 60px;
    transition: opacity .3s;
    overflow: hidden;
    border-radius: .5rem;
    position: relative;
    z-index: 2;
}

.download-app-link:first-of-type {
	margin-right: .8rem;
}

@media (hover: hover) {

	.download-app-link:hover {
		opacity: .6;
	}

}

.download-app-link:active {
	opacity: .6;
}

.download-app-link img {
	width: 100%;
	height: 100%;
}

@media (min-width: 768px) {

	.download-app-bg-img {
		height: auto;
		min-height: 100%;
		width: 100%;
		min-width: auto;
	}

	.download-app-text {
		font-size: 22px;
	}

}

@media (min-width: 992px) {
	
	.download-app {
		padding-left: 120px;
		padding-right: 120px;
		text-align: left;
	}

}

/* the-end-of-download-app */



/* user-comments */

.user-comments {
	background-color: var(--lightgrey2);
	padding: 140px 1.2rem 0;
	margin-top: 0;
}

.user-comments-slider {
	padding: 1rem 1rem 230px;
	overflow: hidden;
}

.user-comments-slide {
	padding: 2rem;
	background-color: white;
	box-shadow: .5px .5px 5px #e5e8ea, -.5px -.5px 5px #e5e8ea;
}

.user-comments .flash-slider-list,
.user-comments .flash-slider-slide {
	overflow: visible;
}

.user-comments-user-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	padding-bottom: 2rem;
	border-bottom: 1px solid var(--lightgrey3);
}

.user-comments-user-img-container {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 1rem;
}

.user-comments-user-img {
	width: 100%;
	height: auto;
	min-height: 100%;
	display: block;
}

.user-comments-user-name {
	font-weight: bold;
	margin: 0;
	color: var(--blue);
}

.user-comments-user-place {
	margin: .2rem 0 0;
	color: #aeadad;
	font-size: 14px;
}

.user-comments-stars {
	margin: .8rem 0 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.user-comments-stars i {
	color: var(--red);
	margin-right: 2px;
}

.user-comments-comment {
	color: var(--black);
	line-height: 32px;
	margin: 2rem 0 0;
	font-style: italic;
	font-size: 18px;
}

.user-comments .flash-slider-dot.flash-active {
	background-color: var(--red) !important;
}

.user-comments .flash-slider-dot-list {
	bottom: 140px;
}

/* the-end-of-user-comments */



/* join-us */

.join-us {
	position: relative;
	text-align: center;
	margin-top: calc(60px + 6vw);
	
}

.join-us::before {
	content: " ";
	position: absolute;
	width: 100%;
	height: calc(50% + 3rem);
	background-color: var(--lightgrey2);
	top: 50%;
	left: 0;
}

.join-us-container {
	position: relative;
	padding: 70px 1rem;
}

.join-us-title {
	color: white;
	margin: 0;
	position: relative;
	z-index: 2;
}

.join-us-text {
	margin: 1rem 0 0;
	color: white;
	font-size: 12px;
	position: relative;
	z-index: 2;
}

.join-us-link {
	position: absolute;
	left: calc(50% - 90px);
	bottom: -24px;
	margin: 0;
	padding: 0;
	width: 180px;
	text-align: center;
	height: 55px;
	line-height: 55px;
	z-index: 3;
}

.join-us-bg-img-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	background-color: red;
	border-radius: 1rem;
	top: 0;
	left: 0;
}

.join-us-bg-img-container::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(26,27,27,0.5);
	z-index: 1;
	border-radius: 1rem;
}

.join-us-bg-img {
	height: 100%;
	width: auto;
	min-width: 100%;
	display: block;
}

@media (min-width: 400px) {

	.join-us-bg-img {
		height: auto;
		min-height: 100%;
		width: 100%;
		min-width: auto;
	}

}

@media (min-width: 768px) {

	.join-us-text {
		font-size: 22px;
	}

}	

/* the-end-of-join-us */


