
/* loading-animation */

.fl-loading-ani {
	background-color: transparent;
	align-content: center;
}

.fl-loading-ani::before,
.fl-loading-ani::after {
	content: " ";
	position: fixed;
	top: 0;
	left: 0;
	width: 50%;
	height: 100vh;
	background-color: var(--white);
	transition: left 1s;
}

.fl-loading-ani::after {
	left: initial;
	right: 0;
	transition: right 1s;
} 

.fl-loading-ani.fl-stop::before {
	left: -50%;
}

.fl-loading-ani.fl-stop::after {
	right: -50%;
}

.loading-ani-text {
	position: relative;
	z-index: 2;
	color: var(--darkgrey);
	font-weight: bold;
	letter-spacing: 6px;
	transition: opacity .3s ease;
}

.fl-loading-ani.fl-stop .loading-ani-text {
	opacity: 0;
}

.fl-loading-ani-line {
	width: 220px;
	height: 3px;
	position: relative;
	z-index: 2;
	margin-top: 2rem;
	transition: opacity .3s ease;
}

.fl-loading-ani.fl-stop .fl-loading-ani-line {
	opacity: 0;
}

.fl-loading-ani-line::before {
	background-color: var(--red);
}

/* the-end-of-loading-animation */



/* navbar */

.fl-navbar {
	background-color: var(--white);
	padding: 0 1.5rem 2.2rem;
}

.fl-navbar .fl-navbar-brand,
.fl-navbar .fl-navbar-toggler,
.fl-navbar .fl-navbar-nav,
.fl-navbar .fl-navbar-links,
.fl-navbar-search-parent {
	margin-top: 2.2rem !important;
}

@media only screen and (min-width: 992px) {

	.fl-navbar {
		padding: 0 1.7rem 2.2rem;
	}

}

/* the-end-of-navbar */



/* search-form */

.fl-navbar-search-parent {
	margin-left: 1.5rem !important;
	width: 330px;
}

.fl-navbar-search-input {
	padding: 1.2rem 5.5rem 1.2rem 2.5rem;
	color: var(--black);
	border: 1px solid #d6e1eb;
	border-radius: 2.5rem;
	background-color: transparent;
	transition: box-shadow .3s, border-color .3s;
}

.fl-navbar-search-input::-webkit-input-placeholder {
  color:  var(--black);
}

.fl-navbar-search-input::-moz-placeholder {
  color:  var(--black);
}

.fl-navbar-search-input::-ms-input-placeholder {
  color:  var(--black);
}

.fl-navbar-search-input::placeholder {
	color: var(--black);
}

.fl-navbar-search-input:focus {
	box-shadow: .5px .5px 20px #e5e8ea, -.5px -.5px 20px #e5e8ea;
	border-color: transparent;
}

.fl-navbar-search-buttons-con {
	right: 2rem;
}

.fl-navbar-search-submit {
	color: var(--red) !important;
	font-size: 23px;
}

@media (min-width: 992px) {

	.fl-navbar-search-parent {
		margin-left: 7.5rem !important;
	}

}


/* the-end-of-search-form */



/* navbar-nav */

@media only screen and (min-width: 992px) {

	.fl-navbar-nav {
		margin-left: auto;
		margin-right: 4rem;
	}

	.fl-nav-item:not(:first-child) {
		margin-left: 1.5rem;
	}

	.fl-navbar-nav:hover .fl-nav-link {
		color: lightgrey;
	}

	.fl-nav-link {
		color: var(--black);
	}

	.fl-nav-link:hover {
		color: var(--blue) !important;
	}

	.fl-nav-item-dropdown:hover .fl-nav-link {
		color: var(--blue);
	}

	.fl-nav-link:active,
	.fl-nav-link.fl-active {
		color: var(--blue);
	}

	.fl-nav-link-icon {
		font-size: 12px !important;
		margin-left: 3px;
		vertical-align: top;
		position: relative;
		top: 4px;
	}

	.fl-dropdown-menu-con {
		min-width: 170px;
		padding-top: 1.8rem;
		top: 100px;
		left: -.7rem;
		transition-duration: 0.5s;
	}

	.fl-dropdown-arrow::before {
		margin-left: 20%;
		border-left: 0.7rem solid transparent;
		border-right: 0.7rem solid transparent;
		border-bottom: 0.7rem solid white;
	}

	.fl-dropdown-menu {
		padding: 1.5rem 6px;
		border-radius: 0;
		box-shadow: .5px .5px 15px lightgrey, -.5px -.5px 15px lightgrey;
	}

	.fl-dropdown-menu-link {
		background-color: transparent !important;
		font-size: 16px;
		color: var(--black);
		padding: 6px 5rem 6px 1.5rem;
	}

	.fl-dropdown-menu-link:hover {
		color: var(--blue);
	}

	.fl-dropdown-menu-link:active {
		color: var(--blue);
	}

}

/* the-end-of-navbar-nav */



/* page-heading */

.page-heading {
	width: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	flex-flow: row wrap;
	padding: 0 1.5rem;
	height: 300px;
}

.page-heading-img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: auto;
	min-width: 100%;
	z-index: -2;
}

.page-heading-links {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	flex-flow: row wrap;
}

.page-heading-link {
	color: var(--white);
	transition: color .7s;
	padding-bottom: 0;
	border-bottom: 1px solid var(--red);
	line-height: 19px;
}

.page-heading-link:first-child {
	margin-right: 1rem;
}

.page-heading-link:hover {
	color: var(--red);
}

.page-heading-brand {
	width: 200px;
	height: auto;
	margin-top: calc(1rem + 1vw);
}

.page-heading::before {
	background-color: rgba(26,27,27,.4);
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

@media (min-width: 576px) {

	.page-heading-img {
		width: 100%;
		height: auto;
		min-height: 100%;
	}

}	

@media (min-width: 992px) {

	.page-heading {
		height: 350px;
		padding: 0 0 0 11rem;
	}

}

/* the-end-of-page-heading */



/* navbar-toggler */

.fl-navbar-toggler {
	width: 29px;
	border-radius: 0;
	background-color: transparent !important;
}

.fl-navbar-toggler-line::before,
.fl-navbar-toggler-line,
.fl-navbar-toggler-line::after {
	background-color: var(--red) !important;
	height: 3px;
	transition: none !important;
}

.fl-navbar-toggler-line {
	width: 29px;
}

.fl-navbar-toggler-line::after {
	width: 34px;
}

.fl-navbar-toggler-line::before,
.fl-navbar-toggler-line::after {
	left: initial;
	right: 0;
	top: -9px !important;
}

.fl-navbar-toggler-line::after {
	top: 9px !important;
}	

.fl-navbar-toggler.fl-active .fl-navbar-toggler-line::before,
.fl-navbar-toggler.fl-active .fl-navbar-toggler-line::after {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
    transform: rotate(0deg);
}    

/* the-end-of-navbar-toggler */



/* md-menu */

@media only screen and (max-width: 575px) {

	.fl-md-menu {
		width: 100%;
	}

}

@media only screen and (min-width: 576px) {

	.fl-md-menu {
		width: 500px;
	}

}

@media only screen and (max-width: 991px) {

	.fl-md-menu {
		background-color: white;
		height: 100vh;
		z-index: 19;
	}

	.fl-md-menu-closer {
		top: 3rem;
	}

	.fl-md-menu-list {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		height: 100%;
		width: 100%;

	}

	.fl-md-menu-item {
		width: 75%;
	}

	.fl-md-menu-link,
	.fl-md-menu-dropdown-menu-link {
		width: 100%;
		text-align: left;
		padding: 1rem 1.5rem;
		color: var(--black) !important;
		font-weight: normal;
		background-color: transparent;
		border-bottom: 1px solid lightgrey;
	}	

	.fl-md-menu-link.fl-active,
	.fl-md-menu-dropdown-menu-link {
		background-color: #f2f7fb;
	}

	.fl-md-menu-dropdown-menu-item {
		margin-top: 0;
	}

	.fl-md-menu-dropdown-menu-link {
		font-size: 12px;
		text-indent: -100%;
		transition: text-indent .5s ease 1s;
	}

	.fl-md-menu-dropdown-menu-con.fl-show {
		max-height: 800px;
	}

	.fl-md-menu-dropdown-menu-con.fl-show .fl-md-menu-dropdown-menu-link {
		text-indent: 0;
		transition: text-indent .5s ease 0s;
	}

	.md-menu-link-icon {
		position: absolute;
		right: 1.5rem;
		width: 6px;
		height: 6px;
		background-color: var(--black);
		border-radius: 60%;
		top: calc(50% - 3px);
		transition: all .5s, opacity 0s ease .5s;
	}

	.md-menu-link-icon::before,
	.md-menu-link-icon::after {
		content: " ";
		position: absolute;
		top: 0;
		left: -8px;
		width: 6px;
		height: 6px;
		background-color: var(--black);
		border-radius: 60%;
	}

	.md-menu-link-icon::after {
		left: initial;
		right: -8px;
	}

	.fl-md-menu-link.fl-active .md-menu-link-icon {
		 -webkit-transform: rotateY(90deg);
		 transform: rotateY(90deg);
		 opacity: 0;
	}

	.md-menu-link-close-icon {
		color: var(--black);
		opacity: 0;
		position: absolute;
		height: 100%;
		display: flex !important;
		align-items: center;
		align-content: center;
		top: 0;
		right: 1.5rem;
		 transition: all .5s, opacity 0s ease .5s;
		-webkit-transform: rotateY(90deg);
		 transform: rotateY(90deg);
	}

	.fl-md-menu-link.fl-active .md-menu-link-close-icon {
		 opacity: 1;
		 -webkit-transform: rotateY(180deg);
		 transform: rotateY(180deg);
		 transition: opacity 0s ease .5s;

	}

}

/* the-end-of-md-menu */


